<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Sprung</title>

  <link rel="stylesheet" type="text/css" href="semantic-site_files/css.css" />
  <link rel="stylesheet" type="text/css" href="semantic-ui/css/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="app.css">

  <style type="text/css">
  .accordion .title.active{position:relative}
  .accordion .content{overflow:auto}
  </style>
</head>
<body id="example" v-class="pushed: ui.sidebarIsOpen, left: ui.sidebarIsOpen">
  <!-- collapsible sidebar -->
  <div class="ui large vertical inverted labeled sidebar menu" id="menu"
    v-class="active: ui.sidebarIsOpen"
    v-component="thing-notebook-list">
      <a class="item" v-on="click: unsetCurrent" v-class="active: current.notebook == false">
        All
      </a>
      <a class="item" v-on="click: setCurrent(this), click: $root.toggleSidebar()" v-class="active: current.notebook == id"
        v-repeat="items.rows">
        {{key}}
      </a>
    </div>
  </div>

  <!-- header menu -->
  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <a class="launch item" v-on="click: toggleSidebar">
        <i class="icon list layout"></i>
        <span v-if="current.notebook_name">{{current.notebook_name}}</span>
        <span v-if="!current.notebook_name">Notebooks</span>
      </a>

      <div class="section ui dropdown simple link item"
        v-component="thing-type-list" v-with="notebook: current.notebook"
        v-on="click: this.$el.firstElementChild.classList.toggle('visible')">
        <strong v-if="!current.type" class="text">
          All Types
        </strong>
        <strong v-if="current.type" class="text">
          {{current.type}}
        </strong>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" v-on="click: current.type = false"
            v-class="active: current.type == false">
            All
          </div>
          <div class="item" v-on="click: current.type = type"
            v-class="active: current.type == type"
            v-repeat="types">
            {{type}}
          </div>
        </div>
      </div>

      <div class="right menu">
        <a class="icon upload item"
          v-on="click: importFile">
          <i class="icon upload"></i>
          Import
        </a>
              <form class="ui form" style="display:none"
                v-component="import-form">
                <input id="export-file" v-on="change: processImport" type="file" />
              </form>

        <a class="icon github item" href="https://github.com/bigbluehat/sprung">
          <i class="icon github"></i>
        </a>
        <!--
        <div class="ui simple dropdown item">
          <i class="icon tint"></i> Theme
          <div class="theme menu">
            <div class="active item" data-theme="flat">Flat</div>
            <div class="item" data-theme="shaded">Shaded</div>
            <div class="item" data-theme="classic">Classic</div>
          </div>
        </div>
        !-->
      </div>
    </div>
  </div>
  <article class="content"
    v-component="thing-list"
    v-with="notebook: current.notebook, type: current.type">
    <div class="ui six stackable items">
      <div class="item" v-repeat="items.rows"
        data-thing-id="{{doc._id}}"
        v-on="click: modalMe">
        <div class="image">
          <img v-attr="src: doc.image" />
          <a class="like ui corner label">
            <i class="like icon" v-class="active: doc.liked"></i>
          </a>
        </div>
        <div class="content">
          <div class="name">{{doc.name}}</div>
          <p class="description">{{{doc.description}}}</p>
        </div>
      </div>
    </div>
  </article>

  <script id="thing-modal" type="text/vuejs+html">
    <div class="ui dimmer page visible active">
      <div style="margin-top: -243.5px;" class="ui test modal transition visible active">
        <i class="close icon"
          v-on="click: this.$destroy()"></i>
        <div class="header">
          {{name}}
        </div>
        <div class="content">
          <div class="left">
            <img class="ui medium image"
              v-attr="src: image" />
          </div>
          <div class="right">
            {{{description}}}
          </div>
        </div>
        <div class="actions">
          <div class="ui black button"
            v-on="click: this.$destroy()">
            Close
          </div>
        </div>
      </div>
    </div>
  </script>
  <script src="app.js"></script>
</body>
</html>
