<div class="ui dimmer page visible active">
  <div class="ui test modal transition visible active">
    <div class="header">
      <div class="ui left floated header">
        <i class="{{type | iconize}} icon"></i>
        {{name}}
      </div>
      <div class="ui right floated tiny header">
        <div class="ui black button"
          v-on="click: destroy()">
          Close
        </div>
      </div>
    </div>
    <div class="content">
      <div class="left">
        <img class="ui medium image"
          v-attr="src: image" />
      </div>
      <div class="right">
        <div>{{{description}}}</div>
        <ul v-if="type == 'Book'">
          <li v-if="author">author: {{author}}</li>
          <li v-if="price">price: {{price}}</li>
          <li>publication date: {{$data}}</li>
          <li>cover: {{cover}}</li>
          <li>genres: {{genres}}</li>
          <li>level: {{level}}</li>
          <li>isbn: {{isbn}}</li>
        </ul>
      </div>
    </div>
    <div class="actions">
      <div class="ui black button"
        v-on="click: destroy()">
        Close
      </div>
    </div>
  </div>
</div>
