<div class="ui dimmer page visible" v-class="active: active">
  <div class="ui fullscreen modal transition visible active scrolling">
    <div class="header">
      <div class="ui two column grid">
        <div class="column">
          <div class="ui huge header">{{name}}</div>
        </div>
        <div class="right aligned column">
          <div class="ui tiny buttons">
            <div class="ui positive button"
              v-on="click: save()">
              Save
            </div>
            <div class="or"></div>
            <div class="ui button"
              v-on="click: destroy()">
              Cancel
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div v-ref="editor" v-component="{{editor}}" v-with="id: schema_url, doc: doc"></div>
      <div v-if="doc.type !== 'Notebook' && doc.type !== 'settings'" class="ui segment form">
        <h4 class="ui header">Add to Notebook(s)</h4>
        <select class="field" multiple
          v-model="doc.notebooks">
          <option v-repeat="notebooks" v-attr="selected: doc.notebooks && doc.notebooks.indexOf($key) != -1" value="{{$key}}">{{$value}}</option>
        </select>
      </div>
    </div>
    <div class="actions">
      <div class="ui left floated red button"
        v-if="$root.loggedIn && doc._rev"
        v-on="click: remove()">
        Delete
      </div>
      <div class="ui tiny buttons">
        <div class="ui positive button"
          v-on="click: save()">
          Save
        </div>
        <div class="or"></div>
        <div class="ui button"
          v-on="click: destroy()">
          Cancel
        </div>
      </div>
    </div>
  </div>
</div>
