<div class="ui dimmer page visible active">
  <div class="ui test modal transition visible active">
    <div class="header">
      <div class="ui left floated header">
        {{name}}
      </div>
      <div class="ui right floated tiny header">
        <div class="ui black button"
          v-on="click: destroy()">
          Close
        </div>
      </div>
    </div>
    <div class="content">
      <vue-schema v-if="schema_name" v-with="schema: schema"></vue-schema>
      <div v-if="!schema_name" class="ui form">
        <div class="field">
          <textarea>{}</textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui black button"
        v-on="click: destroy()">
        Close
      </div>
    </div>
  </div>
</div>
