<div class="ui simple compact icon dropdown item"
  v-on="click: this.$el.firstElementChild.classList.toggle('visible')">
  <strong v-if="!current.type" class="text">
    <i class="filter icon"></i>
  </strong>
  <strong v-if="current.type" class="text">
    <i class="{{current.type | iconize}} icon"></i>
    {{current.type}}
  </strong>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" v-on="click: current.type = false"
      v-class="active: current.type == false">
      All Types
    </div>
    <div class="item" v-on="click: current.type = type"
      v-class="active: current.type == type"
      v-repeat="types">
      <i class="{{type | iconize}} icon"></i>
      {{type}}
    </div>
  </div>
</div>
