<div class="ui large left vertical inverted labeled sidebar menu" id="menu"
  v-class="uncover: $root.ui.sidebarIsOpen,
    visible: $root.ui.sidebarIsOpen">
    <a class="item"
       v-on="click: unsetCurrent(),
             click: $root.toggleSidebar()"
       v-class="active: !isActive">
      All
      <i class="plus icon"
         v-on="click: $root.editDoc({type: 'Notebook', name: ''})"
         v-if="$root.loggedIn"></i>
    </a>
    <a class="item" v-on="click: setCurrent(this.doc), click: $root.toggleSidebar()" v-class="active: isActive(doc._id)"
      v-repeat="items">
      {{doc.name}}
      <i class="write icon"
         v-on="click: $root.editDoc(doc)"
         v-if="$root.loggedIn"></i>
    </a>
  </div>
</div>
