<article class="content">
  <div class="ui five doubling cards">
    <a class="card"
      v-repeat="items.rows"
      data-thing-id="{{doc._id}}"
      v-on="click: modalMe">
      <span class="ui left corner label"
        v-if="doc.image" title="{{doc.type}}">
        <i class="{{doc.type | iconize}} icon"></i>
      </span>
      <div class="image"
        v-if="doc.image">
        <img v-attr="src: doc.image" />
      </div>
      <div class="content">
        <div class="header">
          <i v-if="!doc.image" class="{{doc.type | iconize}} icon"></i>
          {{doc.name}}
        </div>
      </div>
    </a>
  </div>
</article>
