      <div class="ui huge compact menu" v-component="thing-notebook-list">
        <div class="ui inline dropdown item"
          v-on="click: this.$el.firstElementChild.classList.toggle('visible')">
          <strong v-if="!current.notebook" class="text">
            All
          </strong>
          <strong v-if="current.notebook_name" class="text">
            {{current.notebook_name}}
          </strong>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" v-on="click: unsetCurrent"
              v-class="active: unsetCurrent">
              All
            </div>
            <div class="item" v-on="click: setCurrent(this)"
              v-class="active: current.notebook == id"
              v-repeat="items.rows">
              {{key}}
            </div>
          </div>
        </div>
      </div>

